body {
  background-color: #aaa
}
div {
  font-family:helvetica; 
  font-size:25px  ; 
  margin-bottom:8px;
  margin-left:10px;
  margin-top:12px;
}
h1 {
  font-size:40px; 
  margin-bottom:10px; 
  margin-top:20px; 
  font-family:helvetica; 
  text-align:center;
}
table {
  border: 1px solid #000000;
  font-size:20px; 
  margin-bottom:20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 20%;
  box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
}
.table2 {
  border: 1px solid #000000;
  font-size:20px; 
  margin-bottom:20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 15%;
  box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
}
td {
  padding: 10px; 
  padding-left: 25px;
}
tr {
  background-color: #ffff80;
  text-align:left;
}
tr:nth-child(even) {
  background-color: #ffffb3;
}

tr:hover {
  background-color: #ffffcc;
}
th {
  padding-top: 12px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left:20px;
  background-color: #ffff1a;
  color: black;
}